<template>
<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href class="navbar-brand" @click.prevent>e-Health Portal</a>
    <div v-if="!currentUser" class="navbar-nav ml-auto">
      <li class="nav-item">
        <router-link to="/login" class="nav-link">
          <b-icon-person-bounding-box icon="sign-in-alt" />Вход
        </router-link>
      </li>
    </div>

    <div v-if="currentUser && showAdminBoard" class="navbar-nav ml-auto">
      <li class="nav-item">
        <router-link to="/search" class="nav-link">
          <b-icon-search icon="search" />
          Търсачка
        </router-link>
      </li>
    </div>

    <div v-if="currentUser" class="navbar-nav ml-auto">
      <li class="nav-item">
        <router-link to="/profile" class="nav-link">
          <b-icon-person icon="user" />
          {{ currentUser.username }}
        </router-link>
      </li>
      <li class="nav-item">
        <a class="nav-link" href @click.prevent="logOut">
          <b-icon-box-arrow-in-right icon="sign-out-alt" />Изход
        </a>
      </li>
    </div>
  </nav>
  <div class="container">
    <router-view />
  </div>
</div>
</template>

<script>
export default {
  computed: {
    currentUser () {
      return this.$store.state.auth.user
    },
    showAdminBoard () {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN')
      }

      return false
    }
  },
  methods: {
    logOut () {
      this.$store.dispatch('person/closePerson')
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
