<template>
  <div class="col-md-12">
    <div class="card card-container">
      <b-icon-person-bounding-box class="profile-img-card"/>
      <div class="form-group">
        <label for="username">Потребителско Име</label>
        <input
          id="username"
          v-model="user.username"
          type="text"
          class="form-control"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="password">Парола</label>
        <input
          id="password"
          v-model="user.password"
          type="password"
          class="form-control"
          name="password"
        />
      </div>
      <div class="form-group">
        <b-row>
          <b-col>
            <button v-on:click="handleLogin" class="btn btn-primary btn-block" :disabled="buttonDisabled">
              <span v-show="loading" class="spinner-border spinner-border-sm"></span>
              <span>Вход</span>
            </button>
          </b-col>
          <b-col>
            <button v-on:click="registerButton" class="btn btn-primary">
              <span>Регистрация</span>
            </button>
          </b-col>
        </b-row>
      </div>
      <div class="form-group">
        <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import User from '../models/user'

export default {
  name: 'Login',
  data () {
    return {
      user: new User('', '', ''),
      loading: false,
      message: ''
    }
  },

  computed: {
    loggedIn () {
      return this.$store.state.auth.status.loggedIn
    },

    usernameIsValid () {
      return !!this.user.username
    },

    passwordIsValid () {
      return !!this.user.password
    },

    formIsValid () {
      return this.usernameIsValid && this.passwordIsValid
    },

    buttonDisabled () {
      return !this.formIsValid || this.loading
    }
  },

  created () {
    if (this.loggedIn) {
      this.$router.push('/profile')
    }
  },

  methods: {
    handleLogin () {
      this.loading = true

      this.$store.dispatch('auth/login', this.user).then(
        () => {
          if (this.$store.state.auth.user.roles.includes('ROLE_ADMIN')) {
            this.$router.push('/search')
          } else {
            this.$router.push('/record')
          }
        },
        error => {
          this.loading = false
          this.message =
            (error.response && error.response.data) ||
            error.message ||
            error.toString()
        }
      )
    },
    registerButton () {
      this.$router.push('/register')
    }
  }
}
</script>

<style scoped>
  label {
    display: block;
    margin-top: 10px;
  }

  .card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
  }

  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
</style>
