<template>
  <div class="col-md-12">
    <div class="card card-container">
      <b-icon-person-lines-fill class="profile-img-card"/>
      <form name="form" @submit.prevent="handleRegister">
        <div v-if="!successful">
          <div class="form-group">
            <label for="username">Потребителско Име</label>
            <input
              id="username"
              v-model="user.username"
              type="text"
              class="form-control"
              name="username"
            />
            <p v-if='!usernameIsValid' class="error-message">Името е задължително!</p>
          </div>
          <div class="form-group">
            <label for="password">Парола</label>
            <input
              id="password"
              v-model="user.password"
              type="password"
              class="form-control"
              name="password"
            />
            <p v-if='!passwordIsValid' class="error-message">Паролата е задължителна!</p>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" :disabled="buttonDisabled">
              <span v-show="loading" class="spinner-border spinner-border-sm"></span>
              <span>Регистрирай</span>
            </button>
          </div>
        </div>
      </form>

      <div
        v-if="message"
        class="alert"
        :class="successful ? 'alert-success' : 'alert-danger'"
      >{{message}}</div>
    </div>
  </div>
</template>

<script>
import User from '../models/user'

export default {
  name: 'Register',
  data () {
    return {
      user: new User('', '', ''),
      submitted: false,
      successful: false,
      message: '',
      loading: false
    }
  },

  computed: {
    // Don't use if the register page is inside the login with admin rights
    // loggedIn () {
    //   return this.$store.state.auth.status.loggedIn
    // },

    usernameIsValid () {
      return !!this.user.username
    },

    passwordIsValid () {
      return !!this.user.password
    },

    formIsValid () {
      return this.usernameIsValid && this.passwordIsValid
    },

    buttonDisabled () {
      return !this.formIsValid || this.loading
    }
  },

  // Don't use if the register page is inside the login with admin rights
  // mounted () {
  //   if (this.loggedIn) {
  //     this.$router.push('/profile')
  //   }
  // },

  methods: {
    handleRegister () {
      this.message = ''
      this.submitted = true
      this.loading = true

      if (this.formIsValid) {
        this.$store.dispatch('auth/register', this.user).then(
          data => {
            this.message = data.message
            this.successful = true
            this.$router.push('/login')
          },
          error => {
            this.message =
              (error.response && error.response.data) ||
              error.message ||
              error.toString()
            this.successful = false
            this.loading = false
          }
        )
      } else {
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
  label {
    display: block;
    margin-top: 10px;
  }

  .card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
  }

  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
</style>
